</div>
<footer>
                <hr>
                <nav class="MELLO_foot">
                    <a class="MELLO_footer" href="<%= paths.agb %>">Terms of use</a>
                    <a class="MELLO_footer" href="<%= paths.impressum %>">Impressum</a>
                    <a class="MELLO_footer" href="<%= paths.info %>" >Info</a>
                </nav>
            </footer>
		</div>
    </body>
</html>