<% var user=user; var title="Welcome";%>
<%- include ../parts/headerLogin %>
<%- include ../parts/importDesignLogin %>
            <form class="MELLO_regbody" action="<%= paths.registration3 %>" method="post">
                <h3>Welcome</h3>
                <p>Thanks for joining! Have fun!</p>
                <button>Start</button>
            </form>
<%- include ../parts/footerLogin %>
  